<html>
<head>
<title>Francis Picabia</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/Artist.css') }}">

</head>
<body>

<header class="text-center text-white py-5">
    <div class="jumbotron bg-cover text-white">
            <h1 class=" text-center display-4 font-weight-bold">Tensor Artist</h1>
    </div>
</header>

<div class="container" id="content" >
    <div class="row justify-content-md-center">  
        {% if input_name %}
        <div class="col-6 col-md-6">
            <img class="img-fluid" src="{{ url_for('display_image', filename=input_name) }}" alt="yourimage" >
            <label class="mr-sm-2" for="inlineFormCustomSelect">Input Image</label>    
        </div>
        {% endif %}

        {% if filename %}
        <div class="col-6 col-md-6">
            <img class="img-fluid" src="{{ url_for('display_image', filename=filename) }}" alt="yourimage" >
            <label class="mr-sm-2" for="inlineFormCustomSelect">Your Image Francis Picabia Style </label>    
        </div>
        {% endif %}
</div>
<div class="row justify-content-md-center">
    <div class="col-6 col-md-12">
        <h1>Francis Picabia</h1>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-6 col-md-8">
        <p class="Artist_info">
            Francis Picabia (French: [fʁɑ̃sis pikabja]: born Francis-Marie Martinez de Picabia; 22 January 1879 – 30 November 1953) was a French avant-garde painter, poet and typographist. After experimenting with Impressionism and Pointillism, Picabia became associated with Cubism. His highly abstract planar compositions were colourful and rich in contrasts. He was one of the early major figures of the Dada movement in the United States and in France. He was later briefly associated with Surrealism, but would soon turn his back on the art establishment.[1]
        </p>
        <p>
            Francis Picabia was born in Paris of a French mother and a Cuban father of Spanish descent. Some sources would have his father as of aristocratic Spanish descent, whereas others consider him of non-aristocratic Spanish descent, from the region of Galicia.[2] His birth year of 1879 coincided with the Spanish-Cuban Little War; and though Picabia was born in Paris, his father was involved in Cuban-French relations and would later serve as attaché at the Cuban legation in Paris (see the Treaty of 1898). The family ties to Cuba would be important in Picabia's life later on.
        </p>
      </div>
    <div class="col-6 col-md-4">
        <img class="img-fluid" src="/static/uploads/Udine.jpeg" alt="udine">
        <br>
        <label class="mr-sm-2" for="inlineFormCustomSelect">Udine </label>
      </div>
</div>
</div>

</body>
</html>